/.idea/
/archives/
/dist/cocosmail
/dist/db/*
dist/tools/easyCert/
dist/nsq/*
dist/conf/cocosmail.cfg
run
test
watch
build
buildDist
dist/log/
dist/mailboxes/
dist/cocosmail64
dist/tools/
cocosmail.zip

### golang
vendor/**/**/

